// Place all the styles related to the StHasselhoffCommunityPool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team-page {
  display: none;
}

.indicator {
  &.green {
    color: #00A79D;
  }

  &.brown {
    color: #8F4B2D;
  }

  &.blue {
    color: #3498DB;
  }

  &.yellow {
    color: #E6B822;
  }
}
